.letter-panel{
    width: 520px;
}
#guessword{
    width: 550px;
    margin: auto;
}
.letter-panel{
    border: solid 2px #ddd;
    padding: 30px 20px 10px 30px;
    border-radius: 5px;
}

.letter-panel li{
    display: inline-block;
    margin-bottom: 30px;
}

.letter-panel li a{
    width: 40px;
    padding: 10px 15px;
    background-color: #00809D;
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}