<!DOCTYPE html>
<html>
    <title>Guess Word</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id='guessword'>
            <div>
                <div class="chance-bar">You can try <span class="chance-num">{{ chances }}</span> more times, be cautious!</div>
            </div>
            <ul class="word-canvas">
                <li v-for="letter in word">
                    <span v-if="letter.guessed">{{letter.value}}</span>
                    <span v-else>_</span></li>
            </ul>
            <ul class="letter-panel">
                <li v-for= "l in letters">
                    <a href="javascript:void(0)" 
                       v-on:click="letterClicked(l.value)"
                       v-bind:class="{ tried : l.tried }">{{ l.value }}</a>
                </li>
            </ul>
        </div>
        <script src="/main.js"></script>
    </body>
</html>