#guessword{
    width: 550px;
    margin: auto;
    border: solid 2px #DDD;
    padding: 10px 20px 10px 30px;
}

.letter-panel{
    width: 520px;
    margin-top: 30px;
    padding-left: 20px;
}

.letter-panel li{
    display: inline-block;
    margin-bottom: 10px;
}

.letter-panel li a.tried{
    background-color: #aaa;
}

.letter-panel li a{
    width: 50px;
    height: 50px;;
    background-color: #00809D;
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}

.word-canvas{
    padding-left: 20px;
}

.word-canvas li{
    display: inline-block;
    margin-right: 5px;
    font-size: 48px;
    font-weight: bold;
    font-family: Arial;
    color: #666;
}

.chance-bar{
    font-size: 24px;
    color: #444;
}

.chance-num{
    font-size: 32px;
    color: #a22;
    font-weight: bold;
}